<div class="navbar" style="z-index: 1000">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home" class="scroll"><%= @site.name %></a></li>
        <li><a href="#about" class="scroll">about</a></li>
        <li><a href="#eligibility" class="scroll">eligibility</a></li>
        <li><a href="#resources" class="scroll">resources</a></li>
        <li><a href="#contact" class="scroll">contact</a></li>
        <% if !user_signed_in? %>
            <%= render 'pages/' + @site.template_name + '/shared/sign_up_navbar' %>
        <% else %>
            <%= render 'pages/' + @site.template_name + '/shared/authorized_navbar' %>
        <% end %>
      </ul>

    </div><!--/.navbar-collapse -->
  </div>
</div>

<% if "pages" == params[:controller] %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron animated fadeIn delay-1" data-stellar-background-ratio="0.3" >
  <div id="home" class="container">
    <h1 class="animated fadeIn delay-2" >
      <%= best_in_place_if (user_signed_in? and current_user.at_least_a_content_manager?),
                           @site, :name,
                           :path => site_path(@site.id),
                           :sanitize => false,
                           :display_with => lambda { |siteTitle| (siteTitle).html_safe } %>
    </h1>
    <p class="animated fadeInLeft delay-3">
      <%= best_in_place_if (user_signed_in? and current_user.at_least_a_content_manager?),
                           @site, :content,
                           :type => :textarea,
                           :path => site_path(@site.id),
                           :sanitize => false,
                           :display_with => lambda { |siteContent| (siteContent).html_safe },
                           :html_attrs => { style: 'width:100%;' }%>
    </p>
    <% if !current_user || current_user.at_least_a_content_manager? %>
        <div class="animated fadeInLeft delay-4">
          <h2><a href="/sites/<%= @site.id %>/users/sign_up" class="header-btn">Enroll Now</a></h2>
        </div>
    <% end %>
  </div>
</div>
<% end %>

<!-- START Login Modal -->
<div class="modal custom fade" id="loginModal">
  <div>
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Sign In</h3>
    </div>
    <div class="modal-body">
      <%= simple_form_for(:user, url: '/sites/' + @site.id.to_s + '/users/sign_in', :method => 'post') do |f| %>
          <div class="inputs">
            <%= f.input :email, :required => false, :autofocus => true %>
            <%= f.input :password, :required => false %>
            <%= f.input :remember_me, :as => :boolean,  :label => false, :inline_label => true if devise_mapping.rememberable? %>
          </div>
    </div>
      <div class="modal-footer">
        <%= f.button :submit, "sign in", :class => 'btn btn-danger btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
<!-- END Login Modal -->