<div class="container sign-up">

  <section class="pricing">
    <div class="container text-left">
      <table class="table table-short">
        <tr><td>Digital Consent Form and HIPAA Authorization for Research</td></tr>
        <tr><td>PROTOCOL TITLE</td><td>Evaluation of newly infected HIV subjects-Chicago, MACS substudy</td></tr>
        <tr><td>PRINCIPAL INVESTIGATOR</td><td>Steven Wolinksy, MD</td></tr>
        <tr><td>SUPPORTED BY</td><td>National Institutes of Health (NIH)</td></tr>
      </table>
    </div>
  </section>

  <h2><%= best_in_place_if (user_signed_in? and current_user.role_id == 1),  @site.intervention, :name, :path => intervention_path(@site.intervention.id), :sanitize => false, :display_with => lambda { |interventionTitle| (interventionTitle).html_safe } %></h2>
  <%= best_in_place_if (user_signed_in? and current_user.role_id == 1),  @site.intervention, :description, :type => :textarea, :path => intervention_path(@site.intervention.id), :sanitize => false, :display_with => lambda { |interventionContent| (interventionContent).html_safe } %>


  <section id="eligibility" class="screenshots text-center">
    <div class="container">
      <h3 class="title"><%= best_in_place_if (user_signed_in? and current_user.role_id == 1),  @site.eligibility, :title, :path => eligibility_path(@site.eligibility.id), :sanitize => false, :display_with => lambda { |eligibilityTitle| (eligibilityTitle).html_safe } %></h3>
      <%= best_in_place_if (user_signed_in? and current_user.role_id == 1),  @site.eligibility, :content, :type => :textarea, :path => eligibility_path(@site.eligibility.id), :sanitize => false, :display_with => lambda { |eligibilityContent| (eligibilityContent).html_safe } %>
    </div><!-- /container -->
  </section>

  <section class="register text-left">
    <div class="container">
      <%= simple_form_for(resource, :as => resource_name,  :url => user_registration_path(resource, :site_id => @site.id)) do |f| %>
          <h3>Consent</h3>
          <p>I have read this consent form. I agree to be in the research study described above. I agree to participate in the research study described above; this is signified by checking the box below and typing my name in the form provided. I will print a copy of this consent form for my records after I complete this authorization.</p>

          <div class="form-inputs">
            <%= f.error_notification %>
            <%= f.input :first_name, :required => true, :autofocus => true %>
            <%= f.input :last_name, :required => true %>
            <%= f.input :phone, :required => false %>
            <%= f.input :email, :required => false %>
            <%= f.input :future_contact , :as => :radio_buttons, collection: [['I agree that someone may contact me in the future, after my participation in this study is over, to ask me to be in more research. Agreeing to be contacted increases the risk to my privacy. It will be my responsibility to tell the project if my contact information changes', true]], label:"Please choose one of the following:" %>
            <%= f.input :future_contact , :as => :radio_buttons, collection: [['I do not agree that someone may contact me in the future, after my participation in this study is over, to ask me to be in more research.', false]], label:"" , :disabled => true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", :class => "btn btn-default" %>
          </div>
      <% end %>
    </div>
  </section>

  <%= render "users/shared/links" %>

</div>

<script>
    $(document).ready(function() {
        jQuery(".best_in_place").best_in_place();
    });
</script>