<!-- START home navigation -->
<div class="grid-features">
  <div class="container">
    <div class="row-fluid">
      <div class="span4 text-center grid-feature">
        <div class="shape darkblue">
          <a href="/sites/<%= @site.id %>/users/sign_up#sign-up"><i class="icon-user"></i></a>
        </div>
        <h3 class="title"><a href="/sites/<%= @site.id %>/users/sign_up#sign-up">Enroll</a></h3>
        <p>Haven't enrolled yet? <a href="/sites/<%= @site.id %>/users/sign_up">Start here. </a>Enrollment is the first step of your participation in the <%= @site.name %> study.</p>
      </div><!-- /span4 -->

      <div class="span4 text-center grid-feature">
        <div class="shape pink">
          <a href="#" data-toggle="modal" data-target="#loginModal"><i class="icon-signin"></i></a>
        </div>
        <h3 class="title"><a href="#" data-toggle="modal" data-target="#loginModal">Sign In</a></h3>
        <p>Already enrolled? <a href="#" data-toggle="modal" data-target="#loginModal">Sign in here. </a> Update your personal and contact information if you are already enrolled.</p>
      </div><!-- /span4 -->

      <div class="span4 text-center grid-feature">
        <div class="shape lightblue">
          <a href="#" data-toggle="modal" data-target="#loginModal"><i class="icon-cog"></i></a>
        </div>
        <h3><a href="#" data-toggle="modal" data-target="#loginModal">Manage</a></h3>
        <p>Are you a study manager? <a href="#" data-toggle="modal" data-target="#loginModal">Log in here.</a></p>
      </div><!-- /span4 -->
    </div> <!-- /row-fluid -->
  </div> <!-- /container -->
</div><!-- /grid-features -->
<!-- END home navigation -->

<%= render 'pages/' + @site.template_name + '/about' %>

<div class="testimonials">
  <div class="container">

    <%= render 'pages/' + @site.template_name + '/eligibility' %>

    <%= render 'pages/' + @site.template_name + '/resources' %>

    <%= render 'pages/' + @site.template_name + '/funding' %>

  </div> <!-- /container -->
</div><!-- /testimonials -->


<div class="join">
  <div class="container">
    <div class="row-fluid">

      <div class="span6">

        <form>
          <fieldset>
            <legend>Already Registered?</legend>
            <span class="help-block">Enter your email and password to login to your account.</span>
            <input class="input-block-level" type="email" placeholder="Your email">
            <input class="input-block-level" type="text" placeholder="Your password">

            <button type="submit" class="custom-btn pull-right">Sign In</button>

            <label class="checkbox">
              <input type="checkbox"> Remember me on this computer
            </label>

          </fieldset>
        </form>

      </div>


      <div class="span6">
        <form>
          <fieldset>
            <legend>Sign up with us</legend>
            <span class="help-block">Don't you have an account? It is super easy to sign up with us. Fill the following form.</span>
            <input class="input-block-level" type="text" placeholder="Your full name">
            <input class="input-block-level" type="email" placeholder="Your email">
            <input class="input-block-level" type="email" placeholder="Confirm your email">
            <input class="input-block-level" type="password" placeholder="Choose password">
            <input class="input-block-level" type="password" placeholder="Conform your password">

            <button type="submit" class="custom-btn pull-right">Sign Up</button>
          </fieldset>
        </form>
      </div>

    </div> <!-- /row-fluid -->
  </div> <!-- /container -->
</div><!-- /join -->

<div class="contact">

  <div class="container">
    <div class="row-fluid">

      <div class="span6">
        <h3 class="title">Any Questions or Feedback</h3>
        <p>We are here to answer any kind of question donec aliquet mattis libero, ac porttitor leo ultricies nec. Integer aliquam aliquam tempor. Maecenas congue adipiscing cursus. Pellentesque quis est at justo dignissim iaculis. Vestibulum egestas nibh eu tortor ultrices venenatis.</p>
        <p class="address"><i class="icon-building"></i> 413 Water St. New York, NY 10002 <span class="pull-right"><i class="icon-phone"></i> 555-555-55</span></p>
        <div class="social-icons">
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-facebook"></i></a>
          <a href="#"><i class="icon-google-plus"></i></a>
          <a href="#"><i class="icon-linkedin"></i></a>
          <a href="#"><i class="icon-github"></i></a>
        </div>
        <form class="form-inline subscription-form text-center">
          <input type="email" class="input-large" name="subscriber" placeholder="Email">
          <button type="submit" class="custom-btn"><i class="icon-envelope"></i> Subscribe</button>
        </form>
      </div>

      <div class="span6">
        <form class="contact-form">
          <input class="input-block-level" type="text" name="name" placeholder="your name" required />
          <input class="input-block-level" type="email" name="email" placeholder="your email" required />
          <textarea class="input-block-level" name="message" placeholder="your message" rows="10" required ></textarea>
          <button type="submit" class="custom-btn">Send</button>
        </form>
      </div>

    </div> <!-- /row-fluid -->
  </div> <!-- /container -->

</div><!-- /contact -->
