<!-- START home navigation -->
<div class="grid-features">
  <div class="container">
    <div class="row-fluid">
      <div class="span4 text-center grid-feature">
        <div class="shape darkblue">
          <a href="/sites/<%= @site.id %>/users/sign_up#sign-up"><i class="icon-user"></i></a>
        </div>
        <h3 class="title"><a href="/sites/<%= @site.id %>/users/sign_up#sign-up">Enroll</a></h3>
        <p>Haven't enrolled yet? <a href="/sites/<%= @site.id %>/users/sign_up">Start here. </a>Enrollment is the first step of your participation in the <%= @site.name %> study.</p>
      </div><!-- /span4 -->

      <div class="span4 text-center grid-feature">
        <div class="shape pink">
          <a href="#login"><i class="icon-signin"></i></a>
        </div>
        <h3 class="title"><a href="#login">Sign In</a></h3>
        <p>Already enrolled? <a href="#login">Sign in here. </a> Update your personal and contact information if you are already enrolled.</p>
      </div><!-- /span4 -->

      <div class="span4 text-center grid-feature">
        <div class="shape lightblue">
          <a href="#login"><i class="icon-cog"></i></a>
        </div>
        <h3><a href="#login">Manage</a></h3>
        <p>Are you a study manager? <a href="#login">Log in here.</a></p>
      </div><!-- /span4 -->
    </div> <!-- /row-fluid -->
  </div> <!-- /container -->
</div><!-- /grid-features -->
<!-- END home navigation -->

<%= render 'pages/' + @site.template_name + '/about' %>

<div class="testimonials">
  <div class="container">

    <%= render 'pages/' + @site.template_name + '/eligibility' %>

    <%= render 'pages/' + @site.template_name + '/resources' %>

    <%= render 'pages/' + @site.template_name + '/funding' %>

  </div> <!-- /container -->
</div><!-- /testimonials -->


<div class="join" id="login">
  <div class="container">
    <div class="row-fluid">

      <div class="span6" style="margin: 0 auto; float: none">

        <%= simple_form_for(:user, url: '/sites/' + @site.id.to_s + '/users/sign_in', :method => 'post') do |f| %>
            <fieldset>
              <legend>Already Registered?</legend>
              <span class="help-block">Enter your email and password to login to your account.</span>
              <div class="inputs">
                  <%= f.input :email, :required => false, :class => 'input-block-level' %>
                  <%= f.input :password, :required => false, :class => 'input-block-level' %>
                  <label class="checkbox">
                    <%= f.input :remember_me, :as => :boolean,  :label => false, :inline_label => true if devise_mapping.rememberable? %>
                  </label>
              </div>
              <%= f.button :submit, "sign in", :class => 'custom-btn pull-right' %>
            </fieldset>
        <% end %>
      </div>

    </div> <!-- /row-fluid -->
  </div> <!-- /container -->
</div><!-- /join -->

<%= render 'pages/' + @site.template_name + '/contact_us' %>

