<section id="about" class="steps text-center">
  <div class="container text-left user-admin">

    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <th>
            <a href="/user_admin?site_id=<%= @site.id %>&sort=id<% if (@sort_column == 'id') %>&order=<%= @sort_order %><% end %>">ID</a>
            <% if @sort_column == 'id' %>&nbsp;<i class="<%= @sort_icon %>"></i><% end %>
          </th>
          <th>
            <a href="/user_admin?site_id=<%= @site.id %>&sort=role<% if (@sort_column == 'role') %>&order=<%= @sort_order %><% end %>">Role</a>
            <% if @sort_column == 'role' %>&nbsp;<i class="<%= @sort_icon %>"></i><% end %>
          </th>
          <th>
            <a href="/user_admin?site_id=<%= @site.id %>&sort=first_name<% if (@sort_column == 'first_name') %>&order=<%= @sort_order %><% end %>">First Name</a>
            <% if @sort_column == 'first_name' %>&nbsp;<i class="<%= @sort_icon %>"></i><% end %></th>
          <th>
            <a href="/user_admin?site_id=<%= @site.id %>&sort=last_name<% if (@sort_column == 'last_name') %>&order=<%= @sort_order %><% end %>">Last Name</a>
            <% if @sort_column == 'last_name' %>&nbsp;<i class="<%= @sort_icon %>"></i><% end %>
          </th>
          <th>
            <a href="/user_admin?site_id=<%= @site.id %>&sort=email<% if (@sort_column == 'email') %>&order=<%= @sort_order %><% end %>">Email</a>
            <% if @sort_column == 'email' %>&nbsp;<i class="<%= @sort_icon %>"></i><% end %>
          </th>
          <th>
            <a href="/user_admin?site_id=<%= @site.id %>&sort=phone<% if (@sort_column == 'phone') %>&order=<%= @sort_order %><% end %>">Phone</a>
            <% if @sort_column == 'phone' %>&nbsp;<i class="<%= @sort_icon %>"></i><% end %>
          </th>
          <th>
            <a href="/user_admin?site_id=<%= @site.id %>&sort=created_at<% if (@sort_column == 'created_at' || @sort_column == '') %>&order=<%= @sort_order %><% end %>">Creation Date</a>
            <% if !@sort_column || @sort_column == 'created_at' %>&nbsp;<i class="<%= @sort_icon %>"></i><% end %>
          </th>
          <th>Consent Version</th>
          <th>Status</th>
          <th>PHI</th>
          <th>Screening</th>
          <th></th>
        </tr>
        <% @users.each do |user| %>
          <tr id="user_<%= user.id %>">
            <td><%= user.external_id %></td>
            <td>(<%= user.role_identifier %>)&nbsp;<%= user.role_name %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td style="white-space: nowrap;"><%= user.phone %></td>
            <td style="white-space: nowrap;"><%= user.created_at.strftime('%Y-%m-%d %H:%M') %></td>

            <td class="user-admin-link">
              <% if !user.at_least_a_content_manager? %>
                <%= render_user_consent_view(@site.id, user.id) %>
              <% else %>
                n/a
              <% end %>
            </td>
            <td class="user-admin-link">
              <% if user.at_least_a_content_manager? %>
                n/a

              <% elsif user.status %>
                  <% if user.status.final%>
                      <strong>
                        <%= user.status.name %>
                        <% if user.status.description && !user.status.description.empty? %>
                            - <%= user.status.description %>
                        <% end %>
                      </strong>

                  <% else %>
                      <%= render_status_view(user.id, user.status) %>
                  <% end %>

              <% else %>
                ---
              <% end %>
            </td>
            <td class="user-admin-link">
              <% if !user.at_least_a_content_manager? %>
                  <%= render_phi_view(user.id) %>
              <% else %>
                  n/a
              <% end %>
            </td>
            <td class="user-admin-link">
              <% if !user.at_least_a_content_manager? %>
                  <%= render_screening_view(user.id) %>
              <% else %>
                  n/a
              <% end %>
            </td>
            <td>
              <% if !user.at_least_a_content_manager? %>
                  <%= link_to user_screening_link_text(user, @site), toggle_screening_path(sites_id: @site.id, user_id: user.id), remote: true, id: "toggle_screening_#{user.id}", class: "user-admin-link" %>
              <% else %>
                  n/a
              <% end %>
            </td>
          </tr>
          <script>
              $("#toggle_screening_<%= user.id %>").click( function() {
                  if ($("#toggle_screening_<%= user.id %>").text() == 'Screening Enabled')
                    $("#toggle_screening_<%= user.id %>").text('Screening Disabled');
                  else
                    $("#toggle_screening_<%= user.id %>").text('Screening Enabled');
                  $("#user_<%= user.id %>").effect("highlight", {}, 1500);
                });

          </script>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @users %>

    <section class="modal fade custom large-modal user-consent" id="user-consent-modal-window" role="dialog"  aria-labelledby="userConsentModal" aria-hidden="true" ></section>
    <section class="modal fade custom small-modal phi" id="phi-modal-window" role="dialog"  aria-labelledby="phiModal" aria-hidden="true" ></section>
    <section class="modal fade custom small-modal screening" id="screening-modal-window" role="dialog"  aria-labelledby="screeningModal" aria-hidden="true" ></section>
    <section class="modal fade custom small-modal status" id="status-modal-window" role="dialog"  aria-labelledby="statusModal" aria-hidden="true" ></section>

    <button type="button" class="btn btn-danger btn-lg btn-user-export">
      <%= link_to 'PHI to CSV', user_admin_path(format: :csv, export_data: 'phi', site_id: @site.id)%>
    </button>

    <button type="button" class="btn btn-danger btn-lg btn-user-export">
      <%= link_to 'Screening to CSV', user_admin_path(format: :csv, export_data: 'screening', site_id: @site.id)%>
    </button>

  </div>
</section>

<script>
    $(document).ready(function() {
        jQuery(".best_in_place").best_in_place();
    });
</script>