<section id="about" class="steps text-center">
  <div class="container text-left user-admin">

    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Role</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Consent Version</th>
          <th>Status</th>
          <th>PHI</th>
          <th>Screening</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.external_id %></td>
            <td><%= user.role_name %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td style="white-space: nowrap;"><%= user.phone %></td>

            <td>
              <% if !user.at_least_a_content_manager? %>
                <%= render_user_consent_view(@site.id, user.id) %>
              <% else %>
                n/a
              <% end %>
            </td>
            <td>
              <% if user.at_least_a_content_manager? %>
                n/a

              <% elsif user.status %>
                  <% if user.status.final%>
                      <strong>
                        <%= user.status.name %>
                        <% if user.status.description && !user.status.description.empty? %>
                            - <%= user.status.description %>
                        <% end %>
                      </strong>

                  <% else %>
                      <%= render_status_view(user.id, user.status) %>
                  <% end %>

              <% else %>
                ---
              <% end %>
            </td>
            <td>
              <% if !user.at_least_a_content_manager? %>
                  <%= render_phi_view(user.id) %>
              <% else %>
                  n/a
              <% end %>
            </td>
            <td>
              <% if !user.at_least_a_content_manager? %>
                  <%= render_screening_view(user.id) %>
              <% else %>
                  n/a
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <section class="modal fade custom large-modal user-consent" id="user-consent-modal-window" role="dialog"  aria-labelledby="userConsentModal" aria-hidden="true" ></section>
    <section class="modal fade custom small-modal phi" id="phi-modal-window" role="dialog"  aria-labelledby="phiModal" aria-hidden="true" ></section>
    <section class="modal fade custom small-modal screening" id="screening-modal-window" role="dialog"  aria-labelledby="screeningModal" aria-hidden="true" ></section>
    <section class="modal fade custom small-modal status" id="status-modal-window" role="dialog"  aria-labelledby="statusModal" aria-hidden="true" ></section>

    <button type="button" class="btn btn-danger btn-lg btn-user-export">
      <%= link_to 'PHI to CSV', user_admin_path(format: :csv, export_data: 'phi')%>
    </button>

    <button type="button" class="btn btn-danger btn-lg btn-user-export">
      <%= link_to 'Screening to CSV', user_admin_path(format: :csv, export_data: 'screening')%>
    </button>

  </div>
</section>

<script>
    $(document).ready(function() {
        jQuery(".best_in_place").best_in_place();
    });
</script>