<h1>Listing Contact Us Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_us.each do |contact_us| %>
      <tr>
        <td><%= contact_us.title %></td>
        <td><%= contact_us.content %></td>
        <td><%= link_to 'Show', contact_us %></td>
        <td><%= link_to 'Edit', edit_contact_u_path(contact_us) %></td>
        <td><%= link_to 'Destroy', contact_us, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Us Page', new_contact_us_path %>
