
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= link_to 'MACs', (site_path(@site) + "/pages/home"), :class => "footer-logo" %>
      </div> <!-- /.col-md-2 -->

      <div class="col-sm-6">
        <p class="footer-description"></p>
      </div> <!-- /.col-sm-6 -->

      <div class="col-sm-2">
      </div> <!-- /.col-sm-2 -->

      <div class="col-sm-2">
        <h4 class="title">Site map</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'home', (site_path(@site) + "/pages/home")%></li>
          <li><%= link_to 'about us', (site_path(@site) + "/pages/home#about") %></li>
          <li><%= link_to 'eligibility', (site_path(@site) + "/pages/home#eligibility") %></li>
          <li><%= link_to 'resources', (site_path(@site) + "/pages/home#resources") %></li>
          <li><%= link_to 'contact us', (site_path(@site) + "/pages/home#contact") %></li>
        </ul>
      </div> <!-- /.col-sm-2 -->

      <div class="col-sm-12">
        <p><a href="#">SmartMap</a> &copy; All Right Reserved &middot; Template by <a href="http://themefeather.com" target="_blank">ThemeFeather</a></p>
      </div> <!-- /.col-sm-3 -->

    </div> <!-- /.row -->
  </div> <!-- /.container -->

</footer>

<!-- Modal Button Danger -->
<button class="btn btn-lg btn-hmcf btn-danger" data-toggle="modal" data-target="#modalDanger">Contact Us</button>