<%= render 'pages/home_section' %>

<section id="app-shots" class="app-shots app-shots-custom text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <img class="img-responsive" src="<%= asset_path 'meds.jpg'%> " alt="app shot" />
      </div>
      <div class="col-sm-3 col-xs-6">
        <img class="img-responsive" src="<%= asset_path 'men.jpg'%> " alt="app shot" />
      </div>
      <div class="col-sm-3 col-xs-6">
        <img class="img-responsive" src="<%= asset_path 'newspaper.jpg'%> " alt="app shot" />
      </div>
      <div class="col-sm-3 col-xs-6">
        <img class="img-responsive" src="<%= asset_path 'nurses.jpg'%> " alt="app shot" />
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.app-shots -->

<%= render 'pages/about' %>

<div class="divider"></div>

<section id="pricing" class="pricing">
  <div class="container text-left">
    <h3 class="title">What </h3>
    <p>The Multicenter AIDS Cohort Study is the longest running study of HIV infection and disease among MSM with and without HIV infection.  We often are asked “but if this is a study of HIV, why do you want men without HIV to participate?”  It’s a fair question.  If we want to study the virus and how the virus causes disease we should look at people who actually have the virus.  But that only works if we know exactly what we are looking for and how it relates to the virus.  And often we don’t know that.</p>
    <p>The MACS is an incredibly unique study because of the HIV negative men who participate.  MSM are not the same as all other men; they may be more fit than other men, they may drink more, they  may have more stress or mental health issues related to stigma or they  may see  doctors more for preventative care.  While there are other studies that study MSM with HIV, there are no other studies that can compare HIV negative MSM with HIV infected MSM.   By completing the same tests as the HIV positive men, HIV negative men allow us to make the right comparisons.   HIV negative MSM are not infected and changes to their health may be more gradual and due to age, diseases of aging or other infections.  Any man’s health can improve or worsen for all sorts of reasons.</p>
    <p>Following the uninfected men will enable the MACS investigators to know that a change we see in men with HIV is due to their infection.  If we can’t compare the health of men with HIV to similar men without HIV we have no way of knowing.</p>
    <p>In the last decade we have come a long way in treating HIV.  Now we have men aging with the virus and a whole host of diseases that we never thought we would have to face are being seen.  Cancer, heart disease, mental decline – all of these may be more common in HIV infection, or maybe not.  For instance, MACS studies have shown that some changes in brain function are due to aging, NOT HIV.  If we hadn’t been able to compare brain scans from HIV positive and HIV negative men – we would never have known it was aging and not HIV.   MACS continue to study health outcomes of particular interest to the MSM community.  Having the right comparison group is vital to our ability to correctly link health outcomes with a probable cause.  Without the important contribution of the HIV negative men, we would never be able to conduct the life saving research we have done so far.</p>
    <p>So, Thank You!   Your contribution to the MACS has advanced our knowledge of HIV and led to important advances in health care for infected men.</p>
  </div>
</section>

<div class="divider"></div>

<section id="what" class="steps text-center">
  <div class="container">
    <h3 class="title">What To Do</h3>
    <p class="subtitle">This site is designed to assist in enrollment and the management of enrolled accounts as well as offer general information about MACs.</p>

    <div class="row text-center">

      <div class="col-sm-4">
        <article>
          <i class="fa fa-user"></i>
          <h3><a href="/sites/1/users/sign_up">Enroll</a></h3>
          <p>Haven't enrolled yet? <a href="/sites/1/users/sign_up">Start here.</a>Enrollment is the first step of your participation in the MACs study.</p>
        </article>
      </div><!-- /span4 -->

      <div class="col-sm-4">
        <article>
          <i class="fa fa-sign-in"></i>
          <h3><a href="#" data-toggle="modal" data-target="#loginModal">Sign In</a></h3>
          <p>Already enrolled? <a href="#" data-toggle="modal" data-target="#loginModal">Sign in here.</a> Update your personal and contact information if you are already enrolled.</p>
        </article>
      </div><!-- /span4 -->

      <div class="col-sm-4">
        <article>
          <i class="fa fa-cog"></i>
          <h3><a href="#" data-toggle="modal" data-target="#loginModal">Manage</a></h3>
          <p>Are you a study manager? <a href="#" data-toggle="modal" data-target="#loginModal">Log in here.</a></p>
        </article>
      </div><!-- /span4 -->

    </div><!-- /row -->

  </div><!-- /container -->
</section>

<div class="divider"></div>

<%= render 'pages/eligibility' %>

<div class="divider"></div>

<%= render 'pages/resources' %>

<div class="divider-2"></div>

<%= render 'pages/funding' %>

<div class="divider"></div>

<%= render 'pages/contact_us' %>

<script>
    $(document).ready(function() {
        jQuery(".best_in_place").best_in_place();
    });
</script>