<div class="modal custom fade image-upload-div" id="image-update-modal-window" role="dialog"  aria-labelledby="imageUpdateModal" aria-hidden="true" ></div>

<div role="main" >

  <div id="recent" class="container animated fadeInDown delay-5" >
    <div class="row alternate-image-portfolio">
      <div class="col-xs-12 col-sm-3">
        <%= render_site_image_edit_link(@site.id, 'picture_1') %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= render_site_image_edit_link(@site.id, 'picture_2') %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= render_site_image_edit_link(@site.id, 'picture_3') %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= render_site_image_edit_link(@site.id, 'picture_4') %>
      </div>
    </div><!-- END alternate-image-portfolio-->
  </div><!-- END #recent -->

  <div id="about" class="clearfix ">

    <%= render 'pages/' + @site.template_name + '/about' %>

    <%= render 'pages/' + @site.template_name + '/home_section' %>

    <%= render 'pages/' + @site.template_name + '/eligibility' %>

    <hr id="hr" class=" about-hr">

    <%= render 'pages/' + @site.template_name + '/resources' %>

    <hr id="hr" class=" about-hr">

    <%= render 'pages/' + @site.template_name + '/funding' %>

  </div><!--about -->

  <%= render 'pages/' + @site.template_name + '/contact_us' %>

</div><!-- END  [role="main"] -->