<div class="container">
  <div class="divider"></div>

  <h2 style="padding-top: 70px;">Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>
      <%= hidden_field_tag('site_id', @site.id) %>
      <div style="margin-top: 10px"><%= f.submit "Resend confirmation instructions", class: "btn btn-default"%></div>
    <% end %>

  <div class="sign-in-button-group">
    <%= render "devise/shared/links" %>
  </div>
</div>
