<div class="container">

  <div class="divider"></div>

    <section class="register text-left">
      <div class="container">
        <%= simple_form_for(resource, :as => resource_name, :url => confirm_url, :method => :put, :class => 'confirmations') do |form| %>
            <h3>You're almost done! Now create a password to securely access your account.</h3>
            <div class="animated fadeInLeft delay-1">
              <p class="notice fadeIn animated"><%= notice %></p>
              <p class="alert fadeIn animated"><%= alert %></p>
            </div>
            <%= devise_error_messages! %>
            <div class="form-inputs">
                <%= form.input :password, :input_html => { autofocus: true } %>
                <%= form.input :password_confirmation %>
                <%= form.input :confirmation_token, :as => :hidden, :input_html => { value: @original_token } %>
            </div>
            <%= form.button :submit, "Confirm Account", :class => "btn btn-default pass-confirm-button" %>
        <% end %>
      </div>
    </section>

  <div class="divider"></div>

</div>