<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @funding.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @funding.content %>
</p>

<%= link_to 'Edit', edit_funding_path(@funding) %> |
<%= link_to 'Back', fundings_path %>
