<h1>Listing sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>About</th>
      <th>Home</th>
      <th>Contact us</th>
      <th>Eligibility</th>
      <th>Funding</th>
      <th>Resource</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.description %></td>
        <td><%= site.about %></td>
        <td><%= site.home %></td>
        <td><%= site.contact_us %></td>
        <td><%= site.eligibility %></td>
        <td><%= site.funding %></td>
        <td><%= site.resource %></td>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
