<!DOCTYPE html>
<% if @site.nil?
        @site = Site.find(1)
   end
%>
<html class="no-js">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title><%= @site.name %></title>
      <meta name="viewport" content="width=device-width">
      <%= stylesheet_link_tag    @site.template_name, media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag @site.template_name, "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </head>

    <body>
      <%= render partial: "pages/bootstagram/shared/header" %>
      <%= yield %>
      <%= render partial: "pages/bootstagram/shared/footer" %>

      <script>
          $(document).ready(function() {
              jQuery(".best_in_place").best_in_place();
          });
      </script>

    </body>
</html>
